<form action="/clearFilter" method="POST" style="display: inline">
  <% if (filterValue) {%>
  <span class="tag is-link">
    <%=filterValue%>
    <button type="submit" class="delete is-small"></button>
  </span>
  <% }%>
</form>
