<form action="/filter" method="POST">
  <span>
    <input style="width: 30%; margin-left: 10%" class="input is-small" name="filter" id="filter" type="text"
      placeholder="Filter">
  </span>
</form>