<form action="/shortUrl" method="POST">
  <div class="field is-grouped mb-4">
    <p class="control is-expanded">
      <input class="input" name="fullUrl" id="fullUrl" type="text" placeholder="URL">
    </p>
    <p class="control">
      <button type="submit" class="button is-info">
        Shrink
      </button>
    </p>
  </div>
</form>