<section class="hero">
  <div class="hero-body">
    <h1 class="title">
      <a href="/">Welcome to Url Shortner</a>
    </h1>
    <h2 class="subtitle">
      best in town
    </h2>
  </div>
</section>